body {
  background-color: burlywood;
}
.container {
  text-align: center;
  margin-top: 23px;
}
table {
  margin: auto;
}
input {
  font-size: 30px;
  border: 3px solid black;
  border-radius: 8px;
}
.calculator {
  display: inline-block;
}
button {
  font-size: 38px;
  font-weight: bold;
  background-color: white;
  color: black;
  width: 94px;
  border-radius: 5px;
  height: 60px;
}
.ac {
  background-color: red;
}
.ac:hover {
  background-color: chartreuse;
  transition: 0.5s ease;
  color: black;
}
button:hover {
  background-color: chartreuse;
  transition: 0.2s ease-in-out;
  color: black;
}
